.certificates {
    margin-bottom: 30px;
}

.certificate-box {
    margin-bottom: 40px;
}

.certificate-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.certificate-icon {
    position: relative;
    background: linear-gradient( to bottom right, hsla(0, 0%, 25%, 0.452) 0%, hsla(0, 0%, 25%, 0) 50% );
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(45, 100%, 72%);
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    z-index: 1;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
}

.certificate-icon::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: hsla(240, 3%, 13%, 0.836);
    border-radius: inherit;
    z-index: -1;
}

.certificate-icon ion-icon {
    stroke-width: 35px;
    width: 16px;
}

.icon-inner, .icon-inner svg {
    display: block;
    height: 100%;
    width: 100%;
    stroke: currentcolor;
}

.certificate-icon h3 {
    font-size: 24px;
}

.certificate {
    margin-left: 65px;
    font-size: 15px;
    position: relative;
    margin-bottom: 20px;
}

.certificate:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -40px;
    width: 1px;
    height: calc(100% + 50px);
    background: hsl(0, 0%, 22%);
}

.certificate h4 {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 7px;
}

.certificate p {
    color: hsl(0, 0%, 84%);
    font-weight: 300;
    line-height: 1.6;
    max-width: 700px;
}

.certificate a {
    position: relative;
    display: inline-block;
    padding: 5px;
    border: 10px solid black;
}


.certificate::after {
    content: "";
    position: absolute;
    top: 5px;
    background: linear-gradient( to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%) );;
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 22%);;
    height: 8px;
    width: 8px;
    left: -43px;
}


.certificate a img {
    display: block;
    width: 220px;
    height: auto;
    overflow: hidden;
}
.certificate a:hover img {
    transform: scale(1.05);
    cursor: zoom-in;
    transition: transform 0.5s ease;
}